h2 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

h3,
dt {
  font-weight: 600;
  margin-bottom: 1rem;
}

dd {
  margin-bottom: 1.6rem;
  line-height: 1.5;
}

.intro {
  margin-bottom: 1.6rem;
}

.intro span {
  font-size: 1.4rem;
  color: gray;
}

.intro p {
  margin-top: 1rem;
  line-height: 1.5;
}
