@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400..700&display=swap");

:root {
  font-size: 10px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
}

a,
button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  font-size: 1.6rem;
}

#root {
  display: flex;
  padding: 2rem;
  gap: 2rem;
}
